@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
	display: none;
}
   
div::-webkit-scrollbar-thumb {
	display: none;
}

div::-webkit-scrollbar-track {
	display: none;
}

@layer components {
	.grid-style {
	  @apply m-auto sm:w-sm md:w-md lg:w-lg xl:w-xl xxl:w-xxl xxxl:w-xxxl;
	}
  }